.carousel {
    max-width: 70%;
}

#temas * {
    text-decoration: none;
    color: black;

}

.flecha {
    border: 1px solid black;
    border-radius: 6em;
    width: 1em;
    height: 1em;
    text-align: center;
    align-content: center;
}