.pagina {
    height: 100vh;
}

.marcoToDo {
    border: 1px solid black;

    label {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.body {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-bg-color);
}
h2{
    word-break: break-all;
}